numpy
pandas
matplotlib
pyspark >= 3.4.0
imageio
scikit-learn
torch
torchvision
torchdata
transformers
pyarrow
scipy
luigi
google-api-python-client
google-auth
gcsfs
fsspec

# developer tools
jupyterlab
black
pre-commit